name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  lints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
  test:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/cargo@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Test
      run: cargo test --all --exclude twiggy-wasm-api 
  wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
       toolchain: stable
    - name: Run test script with WASM job
      run: cargo run --bin job_runner -- --wasm
  # docs_deploy:
  #   runs-on: ubuntu-latest
  #   needs: test
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2.3.1
  #     - name: Build the book
  #       run: cd guide && mdbook build
  #     - name: Deploy
  #       if: github.event_name == 'push' && github.ref == 'refs/heads/main'
  #       uses: JamesIves/github-pages-deploy-action@4.1.4
  #       with:
  #         branch: master
  #         folder: guide/book
  #         token: ${{ secrets.GITHUB_TOKEN }}